<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.dante.diary"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".main.MainActivity"
            android:alwaysRetainTaskState="true">
        </activity>
        <activity android:name=".base.BottomBarActivity"/>
        <activity
            android:name=".detail.ViewerActivity"
            android:theme="@style/ViewerTheme.TransNav"/>
        <activity
            android:name=".detail.DiariesViewerActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".edit.EditNotebookActivity"
            android:label="@string/create_notebook"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".TransitionActivity">
        </activity>
        <activity
            android:name=".custom.PickPictureActivity"
            android:label="@string/pick_picture">
        </activity>
        <activity
            android:name=".edit.EditDiaryActivity"
            android:label="@string/create_diary"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".setting.SettingActivity"
            android:label="@string/action_settings"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar.Placeholder"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".base.AboutActivity"
            android:label="@string/about"/>
        <activity
            android:name=".custom.DrawActivity"
            android:label="@string/draw"/>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
    </application>

</manifest>